.filter-container {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    justify-content: center;
}

select {
    padding: 10px;
    margin: 0 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-width: 160px;
}

.filter-button {
    background-color: #ccc;
    color: black;
    margin: 0 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #bbb;
}
